.productform  {
    margin-top: 80px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
}
.productform input, textarea{
    border: 2px solid black;
    padding: 5px;
}

label {
    display: block;
}