h1 {
  text-align: center;
  font-size: 50px;
  margin-bottom: 40px;
}
.Menu {
  display: flex;
}
.btn {
  padding: 10px;
  border: 2px solid black;
  font-size: medium;
  font-weight: bold;
}
.Menu div {
  width: 100%;
  text-align: center;
}
